{% extends "material/base.html" %}

{% block content %}

<h3>Edit Supplier: {{ supplier.supplier }}</h3>
<div class="mt-4">
    {% if form_submitted %}
        <div class="alert alert-success" role="alert">
            Supplier edited successfully!
        </div>
    {% endif %}
    
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary mt-3">Edit</button>
    </form>
</div>

{% endblock content %}



{% comment %} {% extends "material/base.html" %}

{% block content %}

<h3>Edit Supplier: {{ supplier.supplier }}</h3>
<div class="mt-4">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary mt-3">Edit</button>
    </form>
</div>

{% endblock content %} {% endcomment %}


