{% extends "material/base.html" %}

{% block content %}
    <h1>Groups</h1>
    <table class="table table-hover table-striped">
        <tr class="table-dark">
            <th>Group Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td> {{ group.name }} </td>
                <td><i class="bi bi-pencil"></i></td>
                <td><i class="bi bi-trash3-fill"></i></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
